mat-card{
    width:95%;
    margin: auto;
    margin-top: 20px !important;
    text-align: right;
    background-color: #fffef0;
}

mat-card-title{
    margin: 20px !important;
    text-align: center;
}