.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  mat-card{
    width:95%;
    margin: auto;
    text-align: right;
    background-color: #fffef0;
  }

mat-card-title{
    margin: 20px !important;
    text-align: center !important;
}